<div class="register-form">
  <h1>Singup</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="user-input">
      <label for="user">Nome</label>
      <input
        class="user"
        type="text"
        id="user"
        name="user"
        formControlName="user"
        autocomplete="user"
      />
      <i class="bx bx-user"></i>
    </div>

    <div class="user-input">
      <label for="email">Email</label>
      <input
        class="user"
        type="email"
        id="email"
        name="email"
        formControlName="email"
        autocomplete="email"
      />
      <i></i>
    </div>

    <div class="user-input">
      <label for="password">Password</label>
      <input
        class="user"
        type="password"
        id="password"
        name="password"
        formControlName="password"
        autocomplete="password"
      />
      <i></i>
    </div>

    <!-- <div class="user-input">
      <label for="name">Nome</label>
      <input class="user" type="text" id="pa" name="name" />
      <i></i>
    </div> -->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    <button type="button">Button</button>
  </form>
</div>
